<div class="propBody">
    <h2>Add a Property</h2>
    <div class="buttons">
        <button class="btn btn-default addProp" ng-click="ap.showRental()">Rental</button>
        <button class="btn btn-default addProp" ng-click="ap.showForSale()">For Sale</button>
    </div>

    <div ng-show="ap.rentals.addR">
        <p>Complete the information below to submit a rental property:</p>
        <div class="propertyAdd">
        <form action="" class="propertyAdd row">
            <div class="col-xs-3 prop">
                <!-- <label for="rentalRent">Rent:</label>  -->
                <input id="rentalRent" ng-model="ap.rentalToAdd.rent" type="text" placeholder="Enter Rent">
            </div>
            <div class="col-xs-3 prop">
                <!-- <label for="rentalSqft">Square Feet:</label> -->
                <input id="rentalSqft" ng-model="ap.rentalToAdd.sqft"type="text" placeholder="Enter Square Footage">
            </div>
            <div class="col-xs-3 prop">
                <!-- <label for="rentalCity">City:</label> -->
                <input id="rentalCity" ng-model="ap.rentalToAdd.city"type="text" placeholder="Enter City">
            </div>
            <div class="col-xs-3 prop">
                <button class="btn btn-default submit" type="button" ng-click="ap.addForRent(ap.rentalToAdd)">Submit</button>
            </div>
        </form>
        </div>
    </div>

        <div ng-show="ap.listings.addP">
            <p>Complete the information below to submit a property for sale:</p>
            <div class="propertyAdd">
            <form action="" class="row propertyAdd">
                <div class="col-xs-3 prop">
                    <!-- <label for="listingCost">Cost:</label> -->
                    <input id="listingCost" ng-model="ap.listingToAdd.cost" type="text" placeholder="Enter Cost">
                </div>
                <div class="col-xs-3 prop">
                    <!-- <label for="listingSqft">Square Feet:</label> -->
                    <input id="listingSqft" ng-model="ap.listingToAdd.sqft" type="text" placeholder="Enter Square Footage">
                </div>
                <div class="col-xs-3 prop">
                    <!-- <label for="listingCity">City:</label> -->
                    <input id="listingCity" ng-model="ap.listingToAdd.city" type="text" placeholder="Enter City">
                </div>
                <div class="col-xs-3 prop">
                    <button class="btn btn-default submit" type="button" ng-click="ap.addForSale(ap.listingToAdd)">Submit</button>
                </div>
            </form>
            </div>
        </div>

</div>