<div>
    <h2>Properites for Sale</h2>
    <!-- <button ng-click="fs.getForSale()">For sale</button> -->
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-2 headers">Cost</div>
        <div class="col-xs-2 headers">Square Feet</div>
        <div class="col-xs-2 headers">City</div>
        <div class="col-xs-2 headers"></div>
        <div class="col-xs-2 headers"></div>
    </div>
    <div class="row" ng-repeat="listing in fs.listings">
        <i class="fa fa-home fa-3x col-xs-1" aria-hidden="true"></i>
        <p class="col-xs-2">{{listing.cost}}</p>
        <p class="col-xs-2">{{listing.sqft}}</p>
        <p class="col-xs-2">{{listing.city}}</p>
        <div class="col-xs-2">
            <button class="btn btn-default">Edit Property</button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default">Delete Property</button>
        </div>
    </div>
</div>    