body {
    background-color: #EAE9E3;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.header {
    background-image: url("https://i.imgur.com/sksYxvV.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #0E1A1F;
    width: 100%;
    height: 200px;
    font-size: 48px;
    display: flex;
    justify-content: left;
    position: fixed;
    z-index: 10;
    box-shadow: 0 10px 6px -6px #777;
    text-shadow: 2px 2px 4px #B9B9B6;
}

.spaceDiv {
    padding-top: 220px;
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.headers {
    font-size: 16px;
    color: #BC3836;
}

.headerRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing {
    background-color: #B9B9B6;
    margin: 10px;
    height: 70px;
    display: flex;
    align-content: center;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 6px -6px #777;
}

.icon {
    color: #BC3836;
}

.navLinkRow {
    display: flex;
    align-items: center;
}

.navLink, .navLink:visited, .navLink:active {
    height: 50px;
    width: 200px;
    background-color: #B9B9B6;
    display: flex;
    align-content: center;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 6px -6px #777;
    margin: 10px;
    color: #0E1A1F;
    text-decoration: none;
    font-size: 18px;
}

.navLink:hover {
    background-color: #878785;
    color: #0E1A1F;
    text-decoration: none;
}

.buttons {
    margin-bottom: 20px;
}

.delete, .addProp, .submit {
    background-color: #BC3836;
    color: #EAE9E3;
    border: none;
}

.delete:hover, .addProp:hover, .submit:hover {
    background-color: #9A2E2D;
    color: #F5F5F2;
}

.propertyAdd {
    background-color: #B9B9B6;
    height: 80px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.prop {
    justify-content: center;
    align-items: center;
    display: flex;
}

.propBody {
    margin-left: 10px;
    margin-right: 10px;
}

