body {
    background-color: #B2B09B;
}

.page-header {
    background-color: #D6D6B1;
    color: #3F3F37;
    margin: 0;
    padding: 0;

}

.headers {
    font-size: 20px;
}

.listing {
    background-color: #D6D6B1;
    margin: 10px;
}

