body {
    background-color: #EAE9E3;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.header {
    background-color: #264653;
    color: #EAE9E3;
    width: 100%;
    font-size: 48px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    box-shadow: 0 10px 6px -6px #777;
    text-shadow: 2px 2px 4px #0E1A1F;
}

.spaceDiv {
    padding-top: 100px;
    margin-left: 15px;
    margin-right: 10px;
}

.headers {
    font-size: 12px;
}

.headerRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing {
    background-color: #B9B9B6;
    margin: 10px;
    height: 70px;
    display: flex;
    align-content: center;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 6px -6px #777;
}

.icon {
    color: #39857E;
}

.navLinkRow {
    display: flex;
    align-items: center;
}

.navLink, .navLink:visited, .navLink:active {
    height: 50px;
    width: 200px;
    background-color: #B9B9B6;
    display: flex;
    align-content: center;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 6px -6px #777;
    margin: 10px;
    color: #0E1A1F;
    text-decoration: none;
}

.navLink:hover {
    background-color: #878785;
    color: #0E1A1F;
    text-decoration: none;
}

.delete {
    background-color: #39857E;
    color: #EAE9E3;
    border: none;
}

.delete:hover {
    background-color: #204945;
    color: #F5F5F2;
}

.propertyAdd {
    background-color: #B9B9B6;
    height: 80px;
    margin: 10px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
}

.prop {
    justify-content: center;
    align-items: center;
    display: flex;
}

